In [ ]:
import os 
import warnings


import torch
import numpy as np
import pandas as pd

from uuid import uuid4

from sklearn import preprocessing

In [ ]:
TRAIN_PATH = "application_train.csv"
SAVE_TRAIN_PATH = "train.csv"

In [ ]:
raw_train = pd.read_csv(TRAIN_PATH)
raw_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [ ]:
target = 'TARGET'
id_col = 'SK_ID_CURR'

#Delete target column as it is not useful for prediction
del raw_train[id_col]

#Distribution of target variable
raw_train[target].value_counts()

#Store target variable to be used later
target_val = raw_train.pop("TARGET")

In [ ]:
# Get all continuous variabels 
cont_vars = []
for col in raw_train.columns:
    if raw_train[col].dtype == 'int64' or raw_train[col].dtype == 'float64':
        cont_vars.append(col)

In [ ]:
#Store number of continous variable. This will be equivalent to number of neurons in input layer
cont_train = raw_train.loc[:, cont_vars]
curr_dim = cont_train.shape[1]

In [ ]:
#Fill NAs with mean value of column. Lot of scope of improvement here :)
cont_train = cont_train.fillna(cont_train.mean())

#Normalize features using standard scaler. We will use same standard scaler object to normalize test data
std_scale = preprocessing.StandardScaler().fit(cont_train[cont_vars])
cont_train[cont_vars] = std_scale.transform(cont_train[cont_vars])

In [ ]:
cont_train.head()

   CNT_CHILDREN  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0     -0.577538  ...               -5.176655e-01
1     -0.577538  ...               -1.092866e+00
2     -0.577538  ...               -1.092866e+00
3     -0.577538  ...               -3.831603e-16
4     -0.577538  ...               -1.092866e+00

[5 rows x 104 columns]

In [ ]:
cont_train["target"] = target_val

In [ ]:
cont_train.to_csv("train.csv", index=False)